/* Page Styling */
body{
	font-family: Arial, sans-serif;
	background-color: #F0E9E9;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

/* Login Box */
.login-container{
	background-color: white;
	padding: 30px;
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
}

/* Heading */
h2{
	text-align: center;
	margin-bottom: 20px;
}

/* labels */
label{
     display: block;
     margin-top: 10px;
     font-weight: bold;
}

/* Input Fields */
input {
       width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 1px solid gray;
	border-radius: 5px;
	box-sizing: border-box;
}

/* Button */
button{
	 width: 100%;
	padding: 10px;
	background-color: #007B77;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

/* Hover Effect */
button: hover {
	background-color: #FF56b3;
}